<p>plots works!</p>
<div>
  <app-bar [paramsData] = "paramsData" [plotData] = "plotData"></app-bar>
  <div #ref>
    <app-bar-plot  class="bar-plot" [paramsData] = "paramsData" [stackedData] = "stackedData" (transEmitter) = "eventOperation($event)"></app-bar-plot>
  </div>
  <app-line-chart  [paramsData] = "paramsData" [linarPlotData]="linarPlotData" ></app-line-chart>
</div>
